[submodule "themes/pure"]
	path = themes/pure
	url = git@github.com:ocae/pure.git
	branch = master
[submodule "plugins"]
	path = plugins
	url = git@github.com:ocae/pelican-plugins.git
	branch = master
[submodule "content/changyuheng"]
	path = content/changyuheng
	url = git@github.com:changyuheng/changyuheng.github.io.git
	branch = content
